body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.screen {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}
